@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
}

.bubble {
  font-family: 'Rubik Bubbles', system-ui;
  font-weight: 400;
  font-style: normal;
}

.bitbit {
  font-family: 'DNFBitBitv2';
  font-weight: 400;
  font-style: normal;
}

.mg {
  font-family: 'Malgun Gothic';
  font-size: 0.85em;
}

.st {
  font-family: 'SUIT Variable', sans-serif;
}
